.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### CLion ###
c/cmake-build-debug/
c/cmake-build-release/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*.mbf
/llama.log
